
<div *ngIf="userID > 1000 && !isAdmin"  class="background">
    Employee
    <br>
    <div class="panel"><a class="button" routerLink="/employee/send-requests">Send Request</a></div>
    <div class="panel"><a class="button" routerLink="/employee/update-order">Update Order</a></div>
    <div class="panel"><a class="button" routerLink="/employee/employee-ticket">Unlock Users</a></div>
    <div class="panel"><a class="button" routerLink="/employee/edit-employees">Edit Profile</a></div>
    <hr/>
  </div>

  <router-outlet></router-outlet>