
<div>
    <span>Total: {{cart[0].total}}</span><br/>
    <span>UserId: {{cart[0].userId}}</span><br/>
    <span>Products:</span><br/>
    <table border="1">
            <tr>
                <th>Product Id</th>
                <th>ProductName</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            <tr *ngFor="let pp of cart[0].products">
                    <td>{{pp.productId}}</td>
                    <td>{{pp.productName}}</td>
                    <td>{{pp.price}}</td>
                    <td>{{pp.qty}}</td>
            </tr>

    </table>

    <button type="button" class="btn btn-sm btn-primary" (click)="checkout()">Buy</button>

</div>