
<div *ngIf="userID < 1000 && isLoggedIn" class="">
    User
    <br>
    <div class="panel"><a class="button" routerLink="/user/cart">Cart</a></div>
    <div class="panel"><a class="button" routerLink="/user/orders">Order Status</a></div>
    <div class="panel"><a class="button" routerLink="/user/profile-info">Edit Profile</a></div>
    <div class="panel"><a class="button" routerLink="/user/add-funds">Add funds</a></div>
    <hr>
  </div>
  <div *ngIf="!(userID < 1000 && isLoggedIn)">Access denied</div>
<router-outlet></router-outlet>